.add-btn {
    background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    bottom: 40px;
    border: none;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    height: 50px;
    outline: none;
    position: absolute;
    right: 40px;
    text-transform: uppercase;
    width: 50px;
    z-index: 1;
    &__top {
        font-size: 0.7rem;
        height: 30px;
        right: 33px;
        top: 52px;
        padding: 0 1rem;
        width: unset;
    }
}

.btn {
    border-radius: 1000px;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 10px 20px;
    &.inactive {
        opacity: 0.4;
        pointer-events: none;
    }
}
