.add-btn {
    background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    bottom: 40px;
    border: none;
    border-radius: 100px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    height: 50px;
    outline: none;
    position: absolute;
    right: 40px;
    width: 50px;
}